<nav class="ancestors">
<%- @subject.ancestors.each do |a| %>
  <%= link_to a.name, subject_path(a.id), class: "ancestor record-type-#{a.record_type }" %> &gt;
<%- end %>
</nav>

<nav class="up">
<%- if @subject.parent.present? %>
  <%= link_to "Up", subject_path(@subject.parent&.id), class: "parent" %>
<%- end %>
<!--
<%#- if facet = @subject.facet_from_code %>
  | Facet: <%#= link_to facet.name, subject_path(facet) %>
<%#- end %>
-->
</nav>


<h1 class="record-type-<%= @subject.record_type %>">
  <%= @subject.name %>

  <span class="record-type-name record-type-<%= @subject.record_type %>">
    <%= @subject.record_type_name %>
  <span>
</h1>


<p><%= @subject.scope_note %></p>

<ul class="children">
<%- @subject.children.order(:name).each do |c| %>
  <li>
    <a href="<%= subject_path(c.id) %>" class="child record-type-<%= c.record_type %>">
      <%= c.name %>
      <span class="record-type-name record-type-<%= c.record_type %>">
        <%= c.record_type_name %>
      <span>
    </a>
  </li>
<%- end %>
</ul>

<p class="debug"><%= debug @subject.attributes %></p>

<%= button_to "random", random_subjects_path, method: :get, class: "random" %>
