<nav class="ancestors">
<%- @subject.ancestors.each do |a| %>
  <%= link_to a.name, subject_path(a.id), class: "ancestor record-type-#{a.record_type }" %> ▸
<%- end %>
</nav>

<nav class="up">
<%- if @subject.ancestors.last.present? %>
  <span style="color: gray">▲</span> <%= link_to "Up", subject_path(@subject.ancestors.last&.id), class: "parent" %>
<%- end %>
<!--
<%#- if facet = @subject.facet_from_code %>
  | Facet: <%#= link_to facet.name, subject_path(facet) %>
<%#- end %>
-->
</nav>


<h1 class="record-type-<%= @subject.record_type %>">
  <%= @subject.name %>

  <span class="record-type-name record-type-<%= @subject.record_type %>">
    <%= @subject.record_type_name %>
  <span>
</h1>

<p class="scope_note">
  <%= @subject.scope_note %>
</p>

<p class="terms">
  <strong>Terms</strong>:
  <%= @subject.terms.map(&:name).join(", ") %>
</p>

<%- if @subject.has_children? %>
  <h2>Children</h2>
<%- end %>

<ul class="children">
<%- @subject.children.order(:record_type, :name).each do |c| %>
  <li>
    <a href="<%= subject_path(c.id) %>" class="child record-type-<%= c.record_type %>">
      <strong><%= c.name %></strong>
      <span class="record-type-name record-type-<%= c.record_type %>">
        <%= c.record_type_name %>,
      <span>
      <%= c.child_ids.length %> children
    </a>
  </li>
<%- end %>
</ul>

<p class="debug"><%= debug @subject.attributes %></p>

<p>
  <%= link_to getty_aat_url(@subject.id), getty_aat_url(@subject.id), target: "aat" %>
</p>

