<!DOCTYPE html>
<html>
  <head>
    <title>AATsy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://unpkg.com/@artsy/palette@13.34.2/dist/styles.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://webfonts.artsy.net/all-webfonts.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="sans-5">
    <header>
      <nav>
        <div id="logo">
          <%= link_to "AATsy", root_path %>
        </div>
        <div id="controls">
          <%= link_to "random subject", random_subjects_path, method: :get, class: "random" %>
          <%= link_to "random material", random_material_subjects_path, method: :get, class: "random-material" %>
          <%= render template: "autocomplete" %>
        </div>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
